<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Desactivar redirección HTTPS -->
      <rewrite>
        <rules>
          <!-- NO forzar HTTPS - regla vacía para sobrescribir cualquier configuración -->
        </rules>
        <outboundRules>
          <!-- Desactivar reglas de salida que puedan forzar HTTPS -->
        </outboundRules>
      </rewrite>

      <!-- Desactivar HSTS (HTTP Strict Transport Security) -->
      <httpProtocol>
        <customHeaders>
          <remove name="Strict-Transport-Security" />
        </customHeaders>
      </httpProtocol>

      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ActifRMF.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
